@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
    --primary: #12bca2;
    --secondary: #6d15df;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

.hidescroll {
    overflow: hidden !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(62, 62, 62);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.display {
    opacity: 1 !important;
}

.container {
    width: auto;
    max-width: 1300px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.contact .row {
    width: 100%;
}

.row {
    display: flex;
    z-index: 1;
}

.img-fluid {
    max-width: 95%;
    width: 95%;
    /* make pic background same as system background */
    /* background-color: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #e5e5e5; */
}

.text-center {
    text-align: center;
}

.bgred {
    background-color: red;
}

.btn {
    outline: 0;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    z-index: 1;
    background-color: #01bf71;
    padding: 10px 50px;
    margin: 0 0.5rem;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -0.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: #01bf71;
    color: #01bf71;
    fill: #01bf71;
}

.button-59:active {
    border-color: #01bf71;
    color: #01bf71;
    fill: #01bf71;
}

@media (min-width: 768px) {
    .button-59 {
        min-width: 170px;
    }
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 49.9%;
}

.col-md-3 {
    margin: 0 1rem !important;
    width: 100%;
}

.col-md-4 {
    width: 33.3%;
}

.col-md-4:first-child {
    margin-right: 1rem;
}

.col-md-4:last-child {
    margin-left: 1rem;
}

.x {
    margin: 0rem 1rem !important;
    width: 33.3%;
}

/* Navbar */
.navopened {
    background-color: #010606 !important;
}

.navopened .logo {
    color: #fafafa !important;
}

.navopened ul li a {
    color: #fafafa !important;
}

.navopened .burger {
    background-color: #010606 !important;
}

.navbar {
    transition: background-color 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    z-index: 2;
    backdrop-filter: blur(2px);
}

.navbar .logo {
    transition: all 0.2s;

    align-items: center;
    align-content: center;
    color: rgb(243, 243, 243);
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
    padding-top: 10px;
}

.navbar ul {
    transition: all 0.2s;

    margin-left: 17rem;
    list-style: none;
}

.navbar ul li {
    margin: 0 1rem;
    display: inline-block;
}

.navbar ul li a {
    transition: all 0.2s;
    font-size: 20px;
    cursor: pointer;

    text-decoration: none;
    color: rgb(243, 243, 243);
    font-weight: 500;
    /* font-family: Inter, sans-serif; */
}

.button {
    cursor: pointer;
    transition: transform 0.2s linear;
    position: fixed;
    transform: translateX(300%);
    top: 20px;
    right: 15px;
    z-index: 1;
}

.burger {
    transition: all 0.2s;

    margin-bottom: 0.45rem;
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Header */
video {
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.headerbg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    top: 0;
    background-color: black;
    opacity: 0.7;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
}

header h1 {
    z-index: 1;
    color: white;
    font-size: 64px;
}

header h2 {
    z-index: 1;
    color: white;
    font-size: 48px;
    /*make text center aligned*/
    text-align: center;
}

.opened {
    transform: translateX(0%) !important;
}

/* main */
.main-title {
    font-size: 48px;
    /* color: #01bf71; */
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-p {
    font-size: 22px;
    font-weight: 500;
}

main {
    padding: 3rem 0;
    background-color: white;
    width: 100%;
}

/* footer */
.text-white {
    color: white;
}

.footer-top {
    margin: 0;
    padding: 0.1rem 0;
    background-color: #01bf71;
}

.footer-top p {
    font-size: 18px;
}

.footer-text {
    margin-top: 2.5px;

    font-size: 18px;
    color: #919191;
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 0;
    background-color: #010606;
}

.side1 {
    width: 50%;
}

.side2 {
    width: 50%;
}

footer .col-md-3 {
    height: 100%;
}

footer .logo {
    transition: all 0.2s;
    margin-bottom: 0;
    align-items: center;
    align-content: center;
    color: rgb(243, 243, 243);
    letter-spacing: 2px;
    font-weight: 400;

    font-size: 28px;
}

.logo a {
    text-decoration: none;
    color: #fafafa;
}

.footer-title {
    color: #fafafa;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0;
    word-wrap: initial;
}

footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 2.5px;
}

footer ul li a {
    text-decoration: none;
    color: #919191;
    font-size: 18px;
    font-weight: 500;
}

.gotop {
    transition: all 0.2s;
    background-color: #01bf71;
    position: fixed;
    border-radius: 25px;
    padding: 1rem;
    border: 0;
    opacity: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 1000;
    box-shadow: 0px 0px 5px 0.2px #000000;
    color: white;
    bottom: 20px;
    right: 15px;
}

/* Services */
.card-title {
    /* color: #01bf71; */
    color: black;
    font-size: 24px;
}

.p-3 {
    padding: 0.2rem 1rem;
}

.card-text {
    padding: 0rem 0rem 1rem 0rem;
    font-weight: 500;
    font-size: 18px;
}

.card {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #e5e5e5;
}

.card:hover {
    transform: scale(1.03);
}

.services .col-md-4 {
    margin: 1rem 1rem 1rem 1rem;
}

ul li a {
    cursor: pointer;
}

.about {
    margin-bottom: 15rem;
}

.card-cover {
    padding: 2rem 0rem;
    border-radius: 15px;
    height: auto;
    width: 100%;
}

.s {
    width: 100%;
    margin: 0 1rem !important;
}

.contact-input {
    color: white;
    border-radius: 5px;
    padding: 15px 0px 10px 5px;
    font-size: 20px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.76);
}

.form-btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
    font-weight: 500;
    z-index: 1;
    background-color: #01bf71;
    padding: 10px 50px;

    transition: background-color 0.2s;
}

.contact-textarea {
    color: white;
    border-radius: 5px;
    padding: 15px 0px 10px 5px;
    font-size: 20px;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    height: 300px;
    min-height: 300px;
    max-height: 600px;

    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.76);
}

@media (max-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 992px) {
    .col-md-4 {
        width: 49.9%;
    }

    .navbar ul {
        margin-left: 5rem;
    }

    .container {
        max-width: 960px;
    }

    .col-md-3 {
        width: 100%;
    }

    .side1 .row {
        display: inline-block;
        width: 100%;
    }

    .side2 .row {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 768px) {
    header h1 {
        text-align: center;
        font-size: 44px !important;
    }

    .container {
        max-width: 720px;
    }

    .navbar ul {
        margin-left: 0rem;
        list-style: none;
    }

    .col-md-4 {
        width: 55.9% !important;
    }
}

@media (max-width: 576px) {
    .col-md-4:first-child {
        margin-right: 0;
    }

    .col-md-4:last-child {
        margin-left: 0;
    }

    .services .col-md-4 {
        margin: 2rem auto !important;
        width: 87.9% !important;
    }

    .col-md-4 {
        width: 100% !important;
    }

    .contact .col-md-4 {
        margin: none !important;
    }

    .col-md-3 {
        margin: 0 !important;
    }

    footer .row {
        display: block;
    }

    .side1 {
        width: 100%;
    }

    .side2 {
        width: 100%;
    }

    .navopened ul {
        top: 55px !important;
    }

    .navopened {
        background-color: #010606 !important;
    }

    .navopened .logo {
        color: #fafafa !important;
    }

    .navopened ul li a {
        color: #010606 !important;
    }

    .navopened .burger {
        background-color: #fafafa !important;
    }

    .container {
        width: auto;
    }

    header h1 {
        font-size: 44px;
    }

    .btn {
        padding: 10px 30px;
    }

    .container {
        max-width: 540px;
    }

    .button {
        transform: translateX(0);
    }

    .navbar .logo {
        z-index: 3;
        color: #fafafa;
        padding-top: 0;
    }

    .burger {
        background-color: #fafafa;
    }

    .navbar {
        backdrop-filter: none;
        padding: 10px 0;
    }

    .navbar ul {
        backdrop-filter: blur(20px);

        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0;
        padding-top: 10rem;
        transform: translateX(-100%);
    }

    .navbar ul li {
        margin: 2rem 0rem;
        display: block;
    }

    .navbar ul li a {
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        color: #fafafa;
        font-weight: 500;
    }

    .col-md-6 {
        width: 100%;
    }

    .row {
        display: inline-block;
    }
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

/* forms */
form {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 6px;
}
form input,
form textarea {
    display: block;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0 20px 0;
}
form button {
    background: var(--primary);
    color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 6px 8px;
    font-family: 'Poppins';
    cursor: pointer;
}
form select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0 20px 0;
    background: #fff;
    font-family: 'Poppins';
    cursor: pointer;
}
/*extra*/
input,
input[type='radio'] + label,
input[type='checkbox'] + label:before,
select option,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
input:focus {
    outline: 0;
    border-color: #bd8200;
}
input:focus + .input-icon i {
    color: #f0a500;
}
input:focus + .input-icon:after {
    border-right-color: #f0a500;
}
input[type='radio'] {
    display: none;
}
input[type='radio'] + label,
select {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
}
input[type='radio'] + label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
input[type='radio'] + label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
input[type='radio'] + label i {
    padding-right: 0.4em;
}
input[type='radio']:checked + label,
input:checked + label:before,
select:focus,
select:active {
    background-color: #4859f1;
    color: #fff;
    border-color: #3832e7;
}
input[type='checkbox'] {
    display: none;
}
input[type='checkbox'] + label {
    position: relative;
    display: block;
    padding-left: 1.6em;
}
input[type='checkbox'] + label:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: '';
}
input[type='checkbox'] + label:after {
    position: absolute;
    top: 0.45em;
    left: 0.2em;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    font-family: FontAwesome;
    content: '\f00c';
}
input:checked + label:after {
    opacity: 1;
}
select {
    height: 3.4em;
    line-height: 2;
}
select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
select:focus,
select:active {
    outline: 0;
}
select option {
    background-color: #e7ecf3;
    color: #000000;
}
.input-group {
    margin-bottom: 1em;
    zoom: 1;
}
.input-group:before,
.input-group:after {
    content: '';
    display: table;
}
.input-group:after {
    clear: both;
}
.input-group-icon {
    position: relative;
}
.input-group-icon input {
    padding-left: 4.4em;
}
.input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}
.input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: '';
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
